

body {
  background-color: #81a69b;
  background-image: url(http://static.frontendmasters.com/resources/2019-05-02-complete-intro-react-v5/image-background.png);

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.radioFields{

 display: flex;
 flex-direction: row;

}
.score{

  margin-left: 800px;
  border-color: blue;
}
.input{

  margin-top: 30px;
}
.btn-primary{

 margin-left: 30px;

}
.posebniSkor{

 font-size: 20px;

}
.glavniPrikaz{

 display: flex;
 flex-direction: row;

}
/* .containerBrojeva{
  max-width: 200px;
  display:flex;
  flex-wrap: wrap;
  box-sizing: border-box;

} */

.broj{
 font-size: 50px;
  margin-left: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.letters{
margin-left: 10px;
font-size: 15px;
display: flex;
flex-direction: inline


}

.radiobtn{

 padding-right: 20px;

}

.prikazBrojeva{
 display: flex;
 flex-direction: row-row-reverse;

}

.pojedinacanBroj{
  font-size: 20px;
  font-family: serif;
  padding-top: 150px;
   margin: 10px;
   margin-left: 15px;


}
.settings{

 margin-left: 500px;

}
/* .cardScore {
   text-align: right;

} */
